name: GA2 Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: 23f3001285@ds.study.iitm.ac.in
        run: echo "GitHub Actions is working"

      - name: Final Step
        run: echo "Done"
